h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
p {
  text-align: center;
  margin: 10px auto 0px auto;
}

#box {
  max-width: 700px;
  margin: 40px auto;
}
.form-label {
  text-align: right;
  margin: 0px;
}

img {
  width: 100%;
}

.col-8 {
  display: grid;
  align-content: center;
}
#units {
  font-size: 13px;
  vertical-align: top;
}
#units {
  height: 100%;
  vertical-align: top;
}

#degreeDigit {
  display: inline;
}
.row {
  margin-bottom: 30px;
}

#source {
  font-family: "Courier New", Courier, monospace;
  color: #8c949e;
}
